#navbarSupportedContent a{
  font-size:30px ;
  color: red
}

#navbarSupportedContent .navbar-brand{
  display: none;
}

.cardtitle{
  color:red; 
  font-weight: bolder; 
  font-size: 40px;
}

.cardtitle .card{
  width: 18rem;
}

.cardtitle .card-text{
  font-size:15px;
}

.cardtitle img{
  height: 5cm;
}

.content .btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: red;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid red;
}

.content .btn-learn-more:hover {
  background: red;
  color: #fff;
  text-decoration: none;
}

.contact-header, .section-title h2{
  color:red; 
  font-weight: bolder; 
  font-size: 40px;
}

.div1{
  background-color: white;
  /* width:30%; */
  text-align:center;
  /* padding:7px;
  float:left; */
  border : 2px solid black; 
  /* margin: 15px 20px 10px 10px;*/
  height: 225px; 
  display: block;
  justify-content:space-between;
}

.div1 h5{
  font-weight: bolder;
  font-size: xxx-large;
  font-family: revert; 
  color:rgb(214, 77, 77); 
  margin-top: 0.2rem;
}

.div1 p{
  font-size: xx-large; 
  font-weight: bolder; 
  color: red;
}

.div1 button{
  background-color: red;
  font-size: large;
}

.img-responsive{
  margin-left: 130px;
  height: 8vh;
}

.icon-box {
  padding: 60px 30px;
  transition: all ease-in-out 0.3s;
  background: #fefefe;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
  border-radius: 18px;
  border-bottom: 5px solid #fff;
}

.icon-box i{
  font-size: 28px;
}
.icon-box h4{
  color: red;
}
.icon-box p{
  font-size: 15px;
}
/* p {
  margin-top: 0;
  margin-bottom: paragraph-margin-bottom;
  font-size: 20px
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li+li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: red;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}








#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #f51f1f;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: red;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: red;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

#footer .credits a {
  color: red;
  transition: 0.3s;
}

#footer .credits a:hover {
  color: red;
} */