{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class= "container my-0">
        <h2 class="cardtitle text-center my-3 py-3"> About us<h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card" >
                    <img src="{% static 'assets\img\rrrr.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" >
                    <img src="{% static 'assets\img\ffff.jpg' %}"  class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" >
                    <img src="{% static 'assets\img\photo1.png' %}"  class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            </div> 
        </div>
    <div>
    <section id="about" class="about">
        <div class="container">
            <div class="section-title">
                <p >
                As an IAXN Telecom customer you have the convenience to access our
                24-hr customer service centre at 88-00-059-059 or 8010-035-035.
                Email your questions, comments or suggestions to us at
                customercare@axntechnologies.in and we will get right back to you.
                </p>
            </div>

            <div class="row content">
                <div class="col-lg-6">
                    <p>
                        Iaxn Telecom is one of the best internet service provider in
                        delhi ncr. Now you can get a fiber connectivity in your home
                        Upto 100 Mbps speed and unlimited ...
                    </p>
                    <ul>
                        <li>
                            <i class="ri-check-double-line" ></i> Free Bandwidth Management
                            Software
                        </li>
                        <li>
                            <i class="ri-check-double-line" ></i> Free Training to your
                            stafft
                        </li>
                        <li>
                            <i class="ri-check-double-line" ></i> Free network consultancy
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <p>
                        We have team of engineers those who have experience of more than
                        15 years. We at IAXN have seen all the dyanmics of telecom
                        sectors, we are in this business since year 2000 (as AXN
                        Telecom).
                    </p>
                    <a href="#" class="btn-learn-more">Learn More</a>
                </div>
            </div>
        </div>
    </section>
        <!-- End About Us Section -->
{% endblock %}