{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container my-0">
        <h2 class="cardtitle text-center my-3 py-3"> Services<h2>
        <div class="row">
            {% for i in serv %}
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box">
                        <div class="icon">
                            <i class="bx bxl-dribbble"></i>
                            <h4>{{i.title}}</h4>
                            <p>{{i.desc}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}